p.life {
    font-family: openSans-Light,serif;
    font-size: 32px;
    color: #fff;
    text-align:right ;

    
}
.banner
{
    height: 276px;
    background: url(../images/header.jpg) no-repeat center;
    margin-bottom: 60px;

}
p.americas
{
    font-family: openSans-Bold, serif;
    font-size: 50px;
    color: #fff;
    line-height: 48px;

    text-align:right ;
}
.napis
{
    margin-top: 50px;
    padding-right:100px;
}
.tlo{
    background-color:#bbbfc2;
}
p.baby{
    font-family: openSans-Regular, serif;
    font-size: 18px;
    color: #9ba0a4;
    line-height: 60px;

}


ul, li {
    display: block;
    list-style: none;

}

ul{
    width: 300px;

}
ul a:link, ul a:visited
{
    font-family: openSans-Regular,serif;
    font-size: 18px;
    color: #9ba0a4;
    background: -webkit-linear-gradient(left,#ebeced,#d1d5d6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left,#ebeced,#d1d5d6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left,#ebeced,#d1d5d6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left,#ebeced,#d1d5d6); /* Standard syntax (must be last) */
    width: 400px;
    line-height: 60px;

}
ul a:hover
{
    font-family: openSans-Semibold,serif;
    font-size: 18px;
    color: #36abe1;
background: #ffffff;

}
.opis{
    font-family: openSans-Light,serif;
    font-size: 18px;
    color: #5c6366;
    line-height: 20px;
    padding-right: 120px;
}
p.large{
    font-family: openSans-Semibold,serif;
    font-size: 30px;
    color: #36abe1;
    line-height: 20px;
}
p.middle
{
    font-family: openSans-Light,serif;
    font-size: 18px;
    color: #5c6366;
    line-height: 20px;
}
p.tekst
{

    padding-right: 70px;
}
.obraz
{
    float: left;
}
